@media screen {
  .AboutContainer {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .AboutWrapper {
    gap: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .AboutProfileContain,
  .AboutInfo {
    flex: 50%;
  }

  .AboutProfileContain {
    gap: 50px;
    display: flex;
    padding: 50px 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .AboutProfile {
    width: 300px;
    height: 300px;
    display: flex;
    position: relative;
    border-radius: 360%;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--tertiary-color);
  }

  .AboutDownload {
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 12px;
    border: 1px dotted var(--tertiary-color);
  }

  .AboutDownload a {
    color: var(--tertiary-color);

  }

  .AboutDownload:hover {
    color: var(--background-color);
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
  }

  .AboutDownload:hover a {
    color: var(--background-color);
  }


  .aboutImage {
    border-radius: 360%;
  }

  .aboutSocialWrapper {
    position: absolute;
    display: flex;
    bottom: 0;
    gap: 10px;
  }

  .aboutSocialInner {
    width: 48px;
    height: 48px;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 360%;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    border: 2px solid var(--background-color);
  }

  .aboutSocialInner:hover {
    background-color: var(--dark-primary-color);
  }

  .HideMaintainA {
    bottom: 70px;
    left: 40px;
    visibility: hidden;
  }

  .FacebookImage {
    bottom: 20px;
  }

  .TwitterImage {
    bottom: -10px;
  }

  .InstagramImage {
    bottom: -25px;
  }

  .LinkedinImage {
    bottom: -15px;
  }

  .WhatsappImage {
    bottom: 20px;
  }

  .HideMaintainB {
    bottom: 80px;
    right: 30px;
    visibility: hidden;
  }

  .AboutInfo {
    gap: 20px;
    display: flex;
    padding: 10px;
    border-radius: 12px;
    flex-direction: column;
  }

  .AboutInfo h1 {
    padding: 10px;
    font-size: 1.2rem;
    width: fit-content;
    border-radius: 60px;
    color: var(--background-color);
    background-color: var(--tertiary-color);
  }

  .AboutDescription {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .AboutListHalf {
    gap: 5px;
    display: flex;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .AboutList {
    gap: 5px;
    display: flex;
    justify-content: space-between;
  }

  .AboutListHalfInfo {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }

  .AboutListHalfInfo h2 {
    font-size: 1rem;
    font-weight: 200;
  }

  .AboutListHalfInfo p {
    font-size: 1rem;
    color: var(--tertiary-color);
  }

  .AboutSkills {
    gap: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
  }

  .AboutSkills h1 {
    font-size: 1.4rem;
    color: var(--tertiary-color);
  }

  .SkillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .SkillsWrapper {
    gap: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .SkillsWrapper h4 {
    font-size: .8rem;
    font-weight: 300;
    text-transform: capitalize;
  }

  .SkillsImage {
    width:50px;
    height: 50px;
    object-fit: contain;
    object-position: center;
  }

  .aboutRow {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: top;
    flex-direction: column;
    justify-content: space-between;

  }

  .abouteducation {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 10px;
    height: fit-content;
    flex-direction: column;
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .abouteducation h3 {
    font-size: 1;
    color: var(--tertiary-color);
  }

  .aboutTimelineItem {
    gap: 10px;
    display: flex;
    padding: 10px;
    margin: 0 10px;
    flex-direction: column;
    border-left: 1px dotted var(--tertiary-color);
  }

  .aboutTimelineItem ul {
    margin: 10px;
    padding: 10px;
    list-style-type: square;
  }

  .aboutTimelineItem ul li {
    font-size: .8rem;
    font-weight: 100;
  }

  .aboutTimelineInfoH {
    gap: 10px;
    display: flex;
    align-items: center
  }

  .aboutTimelineInfoH h6 {
    font-size: .8rem;
    font-weight: 300;
  }

  .aboutTimelineItem h4 {
    font-size: .8rem;
    font-weight: 300;
    color: var(--tertiary-color);
  }

  .aboutTimelineItem span {
    font-size: .8rem;
    font-weight: 300;
  }


  
  .TimelineCircle {
    background-color: var(--tertiary-color);
    border-radius: 360%;
    height: 20px;
    width:20px;
  }


}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .AboutContainer {
    overflow: hidden;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }

  .AboutInfo {
    height: 100%;
    justify-content: center;
  }

  .AboutWrapper {
    height: 100%;
  }

  .AboutWrapper {
    flex-direction: row;
  }

  .AboutProfile {
    width: 400px;
    height: 400px;
  }

  .AboutProfileContain {
    gap: 50px;
    display: flex;
    padding: 20px;
  }

  .HideMaintainA {
    bottom: 80px;
    visibility: hidden;
  }

  .FacebookImage {
    bottom: 5px;
  }

  .TwitterImage {
    bottom: -20px;
  }

  .InstagramImage {
    bottom: -25px;
  }

  .LinkedinImage {
    bottom: -15px;
  }

  .WhatsappImage {
    bottom: 10px;
  }

  .HideMaintainB {
    bottom: 80px;
    visibility: hidden;
  }

  .SkillsWrapper {
    width: 250px;
    height: 250px;
  }

  .SkillsImage {
    width:80px;
    height: 80px;
  }

  .SkillsWrapper h4 {
    font-size: .9rem;
  }

  .aboutRow {
    flex-direction:row ;
  }

  

}
