@media screen {
  .contactContain {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .contactContain {
    width: 100vw;
  }
}
